*{
    margin: 0;
    padding: 0;
}

#hero{
    height: 455px;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-contant{
    width:716px;

}

#hero .hero-contant .subtitle{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;

}

#hero .hero-contant .title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 44px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
}

#hero .hero-contant .description{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 350;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}
.btn-container{
    text-align: center;
}
.btn{
    width: 195px;
    height: 46px;
    margin: 22px 0px;
    border: none;
    border-radius: 5.6px;
    background: rgb(82, 195, 3);
    cursor: pointer;
}

/* Card Section Desing */

#card-box{
    width: 924px;
    margin: 44.8px auto;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#card-box .subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 16.8px;
    font-weight: 350;
    line-height: 19.6px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;

}
#card-box .title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 33.6px;
    font-weight: 490;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;

    width: 483px;
    height: 89px;
}


.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-img{
    width: 296.8px;
    height: 198px;
    border-radius: 11.2px;
}

.card-img img{
    width: 100%;
}

.card-description .info{
    padding: 9.8px 22.4px;
    border-radius: 5.6px;
    background-color: rgba(82, 195, 3, 0.15);

    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 16.8px;
    font-weight: 420;
    line-height: 19.6px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 10px;
}
.card-description{
    width: 296.8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-description .card-title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
}
.card-description .card-para{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 12.6px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}

.about-container{
    width: 1344;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-cotent{
    width: 581px;

}

.about-right{
    width: 672px;

}

.about-right img{
    width: 100%;
}

.about-left{
    width: 672px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about-left .about-title{

    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 33.6px;
    font-weight: 600;
    line-height: 44.8px;
    letter-spacing: 0%;
    text-align: center;
}



.about-left .about-subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 16.8px;
    font-weight: 350;
    line-height: 19.6px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    margin: 25px 0;

}

.about-left .follow-btn{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 22.4px;
    font-weight: 420;
    line-height: 26.6px;
    letter-spacing: 0%;
    text-align: center;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 25px;
    margin: 35px 0;
}